@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&family=Dela+Gothic+One&family=Montserrat:wght@400;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Orbitron:wght@400;600;700&family=Oswald:wght@200;400;700&family=Poppins:wght@100;200;300;700&family=Roboto+Slab:wght@300;700;900&family=Roboto:wght@400;500&family=Teko&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: 0;
    
    transition: all 300ms;
}
html{
    scroll-behavior: smooth;
}
/* scroll bar style */
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    background: #febc2a; 
    border-radius:4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #5e17eb; 
  }
 /* scroll bar style ends */

body{
    background: linear-gradient(to right bottom ,#fff,#f0fff0);
    font-family: 'Open Sans', sans-serif;
}

nav{
    /* position: fixed;
    width: 100%; */
    /* height: 100px; */
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 2rem;
}

.logo-section{
    margin-left: 2rem;
    padding: 0;
    height: 90px;
}
.logo-section img{
    height: 100%;
}

.nav-items ul{
    margin-top: 28px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nav-item  a {
    background: linear-gradient(to  bottom ,#f0fff0,#fff);;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 20px;
    margin-left: 30px;
}
.nav-item a:hover{
    color: #5e17eb;
}
.header{
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.H-left-section{
    position: relative;
    width: 50vw;
}
.H-left-section img{

}

#half-torus{

    position: absolute;
    width: 200px;
    top: -40px;
}
#L-half-torus{
    position: absolute;
    width: 200px;
    top: 80%;
    left: 150%;

}
#torus{
    position: absolute;
    width: 450px;
    left: 30%;
}
#blue-disc{
    position: absolute;
    width: 400px;
    top: 30%;
}

.H-right-section{
    width: 50vw;
}
.H-right-section h1{
    font-size: 110.7px;
    color: #febc2a;
    margin-top: 20%;
    font-weight: 800;
}
.H-right-section h3{
    font-size: 35px;
    width: 60%;
    position: relative;
}
#mac-img{
    position: absolute;
    width: 60px;
    margin-top: 0px;
}
.H-right-section h4 a{
    transition: 300ms step-start all;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
.H-right-section h4 a:hover{
    text-shadow: 0px 0px 1px #343434;
}




.H-right-section h4{
    margin-top: 7%;
    font-size: 25px;
}

.about-me{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 100px;
    margin-top: 100px;
}

.about-me-section{
    width:100%;
}
.about-me-section h3{
    font-size: 30px;
}
.about-me-section p{
    margin-left: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
}
.skills{
    height: 100%;
    margin: 20px 100px;
    /* mobile */
    margin-top: 30px;
}
.skills h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.skill{
    cursor:help;
    display: inline-block;
    text-decoration: none;
    color: #5e17eb;
    font-weight: 600;
    margin-right: 20px;
    padding: 8px 15px;
    border: #5e17eb solid 1px;
    border-radius: 10px;
    margin-top: 20px;
}

.project{
    margin: 20px 100px;
    /* TODO:mobile */
    margin-top: 90px;
}
.project h3{
    font-size: 30px;
    margin-bottom: 30px;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 2rem;
    justify-content: space-around;
    margin-top: 30px;
}

.card{
    background-color: rgba(255, 255, 255, 0.316);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 3.6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 6%;
    height: 350px;
    padding: 10px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 11.6px;

}
.card h3{
    font-size: 20px;
    text-align: center;
    color: #343434;
}
.card-img img{
    width: 100%;
    height: 100%;
}
.card-img{
    margin-top: 0;
    border: #000 solid .5px;
    /* border-radius: 30px; */
    width: 400px;
    overflow: hidden;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    font-size: 17px;
    margin-top: 1rem;
}
.links a{
    text-decoration: none;
    padding: 5px 20px;
    vertical-align: middle;
    border: 1px solid #4b90f4;
    border-radius: 6px;
    color: #fff;
    background-color: #4b90f4;
    box-shadow: 0px 0px 10px #4b90f4 ;
}
.links a:hover {
    box-shadow: 0px 0px 13px #4b90f4;
    transition-duration: 300ms;
}
.all-projects{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.all-projects button{
    background-color: none;
    padding: 10px 20px;
    background-color: #febc2a;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #febc2a;
}
.all-projects button:hover{
    box-shadow: 0px 0px 15px #febc2a;
}
.all-projects button a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    
}

.contact{
    background-color: #f3fff3;
    margin-top: 100px;
    /* border: #000 solid 2px; */
    display: flex;
    flex-direction: column;
    height:100%;
    overflow:visible;
    padding-left: 100px;
    padding-bottom: 30px;
    /* margin-left: 100px;
    height: 100px; */
}
.contact h1 {
    font-size: 44px;
    font-weight: 700px;
}
.contact p{
    padding-left: 30px;
    padding-top: 10px;
    font-weight: 400px;
    line-height: 2;
    color: #343434;
    font-size: 22px;
}
.social-links{
    background-color: #f3fff3;
    height: 100%;
    padding-left: 40px;
    font-size: 30px;
}
.social-link {
    color: #fff;
    width: 100%;
}
.social-link button a {
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
}
.social-link button{
    padding: 5px 20px;
    font-size: 17px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #4b90f4;
    box-shadow: 0px 0px 10px #4b90f4 ;
}
